/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

// Language used is stylus. It is applied in our package.json
// file along with other development packages.
// If we are using preprocessors like SASS or stylus, in order to
// follow changes during live development we have to run in
// the terminal: Ctrl+C (exit npm) and: npm run watch.
// If this file is updated then style.css will be changed accorrdingly

.order-enter
  transform: translateX(-120%) rotate(0)
  transition .5s
  max-height: 0
  padding 0 !important
  &.order-enter-active
    max-height 60px
    transform: translateX(0) rotate(1440deg)
    padding 2rem 0 !important

.order-exit
  transition .5s
  transform: translateX(0)
  &.order-exit-active
    transform: translateX(120%)
    padding 0

.count-enter
  transition .5s
  transform translateY(100%)
  &.count-enter-active
    transform translateY(0)

.count-exit
  transition .5s
  transform translateY(0)
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    transform translateY(-100%)
