/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

// Language used is stylus. It is applied in our package.json
// file along with other development packages.
// If we are using preprocessors like SASS or stylus, in order to
// follow changes during live development we have to run in
// the terminal: Ctrl+C (exit npm) and: npm run watch.
// If this file is updated then style.css will be changed accorrdingly

.order-enter
  background red
  transform: translateX(-120%)
  transition 5s
  &.order-enter-active
    background yellow
    transform: translateX(0)
